
.List-content{

  background-color: #FFCA7E;
  margin: 0px;
  padding: 0px;
  padding-bottom: 3cm;
}

.list-header {
  font-family: Arial, sans-serif;
  background-color: #110C60;

}


.List-tabs{
  display: flex;
  background-color: #110C60;
  padding: 10px;
  margin-bottom: 20px;
  
}

.List-tab {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #110C60;
  color:#FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.List-tab:hover{
  background-color:#FFCA7E;
  color: rgb(8, 8, 8);
}

.List-tab.active {
  background-color: #FFCA7E;
  color: rgb(8, 8, 8);
}



.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
}



